# Python
__pycache__/
*.py[cod]
*$py.class

# virtual environments
venv/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# OS files
.DS_Store

# Test/coverage/log
.coverage
test_output.log
test.failed.md
.pytest_cache/
tests/report/

# IDE/editor
.vscode/
.cursor/

# Env/backup/tmp
*.env
*.bak
*.tmp
